<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}NFT Paradise{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
        <!-- Bootstrap icons and core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

        <script src="https://kit.fontawesome.com/a16a49a67b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ url_for('home') }}" rel="noopener noreferrer">Ines ED2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home') }}" >Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}" rel="noopener noreferrer">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('catalogue') }}" rel="noopener noreferrer">Catalogue</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div id="btngap">
                        <a href="/download-database" target="_blank">
                            <button class="btn btn-outline-dark">
                                <i class="fa-solid fa-download"></i>
                                Download
                            </button>
                        </a>
                        <a href="{{ url_for('adm') }}">
                            <button class="btn btn-outline-dark">
                                <i class="fa-solid fa-lock"></i>
                                ADM
                            </button>
                        </a>
                        <a href="{{ url_for('carrinho_de_compras') }}">
                            <button class="btn btn-outline-dark">
                                
                                <i class="fa-solid fa-cart-shopping"></i>
                                Carrinho 
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; <a href="https://github.com/leticosta4" target="_blank" rel="noopener noreferrer">Ines 2024</a>
                </p>
            </div>
        </footer>

        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
