{% extends "base.html" %}

{% block title %}Administração{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Administração NFTs</h1>

    <!-- Botões para inserir e alterar registros -->
    <button type="button" class="btn btn-primary" onclick="showInsertForm()">Inserir Registro</button>
    <button type="button" class="btn btn-success ms-2" onclick="showAlterForm()">Alterar Registro</button>

    <!-- Tabela de Registros -->
    <table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Blockchain</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="nftTableBody">
            <!-- Linhas da tabela preenchidas dinamicamente -->
        </tbody>
    </table>

    <!-- Modal de Inserção -->
    <div class="modal" id="insertModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inserir Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" onclick="closeInsertForm()"></button>
                </div>
                <div class="modal-body">
                    <form id="insertForm" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="insertNome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="insertNome" name="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="insertValor" class="form-label">Valor</label>
                            <input type="number" class="form-control" id="insertValor" name="valor" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="insertBlockchain" class="form-label">Blockchain</label>
                            <input type="text" class="form-control" id="insertBlockchain" name="blockchain" required>
                        </div>
                        <div class="mb-3">
                            <label for="insertStatus" class="form-label">Status</label>
                            <select class="form-select" id="insertStatus" name="status" required>
                                <option value="Disponível">Disponível</option>
                                <option value="Indisponível">Indisponível</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="insertImagem" class="form-label">Imagem</label>
                            <input type="file" class="form-control" id="insertImagem" name="imagem" accept="image/*" required>
                        </div>
                    </form>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="insertRegister()">Inserir</button>
                    <button type="button" class="btn btn-secondary" onclick="closeInsertForm()">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function insertRegister() {
        // Obtém o formulário
        var form = document.getElementById('insertForm');
        
        // Cria um objeto FormData para enviar os dados do formulário
        var formData = new FormData(form);
        
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/insert', true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log('Sucesso:', xhr.responseText);
                    alert('Sucesso! O NFT foi criado com sucesso!');
                    // Fechar o modal após o envio bem-sucedido
                    closeInsertForm();
                    // Recarregar a tabela de NFTs
                    loadNFTs();
                } else {
                    console.error('Erro:', xhr.status);
                    alert('Erro ao criar um NFT!');
                }
            }
        };

        xhr.send(formData);
}

document.addEventListener('DOMContentLoaded', function () {
    loadNFTs();
});

function loadNFTs() {
    fetch('/get-nfts')
        .then(response => response.json())
        .then(data => {
            const nftTableBody = document.getElementById('nftTableBody');
            nftTableBody.innerHTML = '';
            data.forEach(nft => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${nft.id}</td>
                    <td>${nft.nome}</td>
                    <td>${Number(nft.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</td>
                    <td>${nft.blockchain}</td>
                    <td>${nft.status ? 'Disponível' : 'Indisponível'}</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteNFT(${nft.id})">Deletar</button>
                    </td>
                `;
                nftTableBody.appendChild(row);
            });
        });
}

function deleteNFT(id) {
    if (confirm('Tem certeza que deseja deletar este NFT?')) {
        fetch('/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id })
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  alert(data.message);
                  loadNFTs();
              } else {
                  alert(data.message);
              }
          });
    }
}

// Função para exibir o modal de inserção
function showInsertForm() {
    var modal = document.getElementById('insertModal');
    modal.style.display = 'block';
}
function closeInsertForm() {
    var modal = document.getElementById('insertModal');
    modal.style.display = 'none';
}

// Fechar o modal quando o usuário clicar fora dele
window.onclick = function(event) {
    var modal = document.getElementById('insertModal');
    if (event.target == modal) {
        modal.style.display = 'none';
    }
}
</script>
{% endblock %}
