{% extends "base.html" %}

{% block title %}NFT Paradise{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">NFT Paradise</h1>
            <p class="lead fw-normal text-white-50 mb-0">A loja que oferta NFTs de melhor qualidade e de forma simplificada!</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <!-- Filter Form -->
        <form method="GET" action="/">
            <div class="row mb-4">
                <div class="col">
                    <input type="text" name="substring" class="form-control" placeholder="Nome">
                </div>
                <div class="col">
                    <input type="number" name="min_value" class="form-control" placeholder="Preço Mínimo">
                </div>
                <div class="col">
                    <input type="number" name="max_value" class="form-control" placeholder="Preço Máximo">
                </div>
                <div class="col">
                    <input type="number" name="min_key" class="form-control" placeholder="Id Mínimo">
                </div>
                <div class="col">
                    <input type="number" name="max_key" class="form-control" placeholder="Id Máximo">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </form>
        <!-- Products Section -->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto_id, produto in catalogo.items() %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top img-fluid" src="{{ produto.image }}" alt="..." width="350" height="250"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            <!-- Product price-->
                            ${{ produto.valor }}<br>
                            <!-- Product status-->
                            {{ produto.status }}<br>
                            <!-- Product blockchain-->
                            {{ produto.blockchain }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick="insertInShopCart({{produto_id}})">Adicionar</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>
</section>
<script>
function insertInShopCart(id) {
    fetch('/inserir_no_carrinho', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: id })
    }).then(response => response.json())
      .then(data => {
          if (data.success) {
              alert(data.message);
          } else {
              alert(data.message);
          }
      })
      .catch(error => {
          console.error('Erro ao inserir no carrinho:', error);
          alert('Erro ao inserir no carrinho. Por favor, tente novamente.');
      });
}
</script>
{% endblock %}
